# .log files
*.log
# pem keys for remote vm access
*.pem
# json files as ssh connection to remote results in reading stdout to a json locally
*.json 
.env
.idea/workspace.xml
__pycache__/
# data directories
binance_us_historical_data/
binance_futures_historical_data/

# macOS system files
.DS_Store

# R environment files
.RData
.Rhistory
*.rds
*.pdf

*.pyc