# .log files
*.log
# pem keys for remote vm access
*.pem
# json files as ssh connection to remote results in reading stdout to a json locally
*.json 
.env
.idea/workspace.xml
__pycache__/
# data files
binance_us_historical_data/btcusdc_15m_historical.csv
btcusdc_pca_components_30.csv
btcusdc_pca_components_44.csv
